# General Setup

APP_LUMEN_DIR=../lumen

APP_WEB_DIR=/var/www

APP_HOST_DATA_DIR=~/.deshifter/nemul

APP_PROJECT_NAME=Nemul

APP_HOST_IP=10.20.30.25

APP_CONVERT_WINDOWS_PATHS=1

# App Settings

APP_PUID=1000
APP_PGID=1000

APP_PHP_VERSION=7.4
APP_NODE_VERSION=14
DB_PQSQL_VERSION=12.3
DB_MYSQL_VERSION=8.0

APP_TIMEZONE=Europe\Moscow
APP_SSH_PORT=2222

APP_INSTALL_ADDITIONAL_LOCALES=true
APP_ADDITIONAL_LOCALES="en_US.UTF-8 ru_RU.UTF-8"

DB_NAME=default
DB_USER=default
DB_PASSWORD=secret
DB_PORT=5432

WEB_HTTP_PORT=80
WEB_BROWSERSYNC_HOST_PORT=3000
WEB_BROWSERSYNC_UI_HOST_PORT=3001